<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 45, 'stickyChangeLogo': false}">
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a title="OnlinePortal" routerLink="/">
                                <img id="headerlogo" alt="OnlinePortal" width="168" height="80" data-sticky-width="82" data-sticky-height="40" data-sticky-top="25" src="assets/logo/averypearl-tslogo.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row pt-3" *ngIf="!currentIsApprovalPage()">
                        <div class="header-nav-features header-nav-features-no-border">
                            <div class="header-nav-feature d-inline-flex" *ngIf="!isLoggedIn() && !currentIsLoginPage()">
                                <a class="btn btn-success btn-lg text-transform-none" routerLink="/login">
                                    <i class="fa fa-lock"></i>Sign In
                                </a>
                            </div>
                            <div *ngIf="isLoggedIn()" class="search dropdown">
                                <button type="button" class="btn btn-primary btn-lg " data-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> {{contractorName}} <i class="fas fa-caret-down"></i>
                                </button>
                                <div class="dropdown-menu" style="width: 100%; position: absolute; transform: translate3d(0px, 42px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                                    <a class="dropdown-item" routerLink="" (click)="logout(false);">
                                        <i class="fas fa-sign-out-alt" aria-hidden="true"></i>&nbsp;Sign Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-row">
                        <div class="header-nav pt-1 mt-1">
                            <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1" *ngIf="!currentIsApprovalPage()">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="dropdown">
                                            <a class="dropdown-item no-toggle" routerLink="/home">
                                                Home
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item no-toggle" routerLink="/view-my-timesheets">
                                                My Timesheets
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item no-toggle" routerLink="/view-my-expenses">
                                                My Expenses
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">
                                                Admin
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" routerLink="/release-timesheets">Timesheets</a></li>
                                                <li><a class="dropdown-item" routerLink="/release-expenses">Expenses</a></li>
                                            </ul>
                                        </li>
                                    </ul>                                    
                                </nav>
                            </div>
                            <div class="social-icons">
                                <ul class="social-icons new"><li class="facebook mr-1"><a href="https://www.facebook.com/averypartners" target="_blank" title="Facebook">Facebook Icon</a></li>
                                    <li class="twitter mr-1"><a href="https://twitter.com/averypartnersco" target="_blank" title="Twitter">Twitter Icon</a></li>
                                    <li class="linkedin"><a href="https://www.linkedin.com/company/avery-partners" target="_blank" title="Linkedin">Linkedin Icon</a></li>
                                </ul>
                            </div>
                            <button class="btn header-btn-signin-nav" *ngIf="!isLoggedIn() && !currentIsApprovalPage()" routerLink="/login" title="Sign In">
                                <i class="icofont-lock"></i>
                            </button>
                            <button *ngIf="isLoggedIn() && !currentIsApprovalPage()" class="btn header-btn-signout-nav" (click)="logout(false);" title="Sign Out">
                                <i class="icofont-sign-out"></i>
                            </button>                                                        
                            <button class="btn header-btn-collapse-nav collapsed" data-toggle="collapse" data-target=".header-nav-main nav" *ngIf="!currentIsApprovalPage()">
                                <i class="fas fa-bars"></i>
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>                     
        </div>
    </div>
</header>