<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="featured-boxes featured-boxes-style-8">
                <div class="featured-box featured-box-primary text-left">
                    <div class="box-content">
                        <app-alert></app-alert>
                        <div *ngIf="showForm">
                            <h2>Reset Password</h2>
                            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" #form="ngForm">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-md-12 col-lg-4" for="email">Email</label>
                                    <div class="col-sm-6 col-md-12 col-lg-7">
                                        <input formControlName="email" type="text" id="email" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-sm-5 col-md-12 col-lg-4">New Password</label>
                                    <div class="col-sm-6 col-md-12 col-lg-7">
                                        <input #password formControlName="password"
                                            [type]="showPassword ? 'text' : 'password'" id="password" maxlength="50"
                                            class="form-control" onpaste="return false"
                                            [ngClass]="{'is-invalid': form.submitted && f.password.errors,'is-valid': form.submitted && !f.password.errors}">
                                        <span toggle="#password" class="fa fa-fw fa-eye field-icon"
                                            [ngClass]="{'fa-eye': !showPassword ,'fa-eye-slash':showPassword}"
                                            (click)="togglePassword()"></span>
                                        <app-password-strength [password]="resetPasswordForm.value.password">
                                        </app-password-strength>
                                        <p *ngIf="form.submitted && f.password.errors" class="invalid-feedback">
                                            <span *ngIf="f.password.errors.required">
                                                Please enter a password.
                                            </span>
                                            <span *ngIf="f.password.errors.pattern">
                                                Password entry does not meet criteria.
                                            </span>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group text-center">
                                    <button class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="isSuccess">
                            <p>Please <a routerLink='/login'>Click</a> here to login to your account.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>