$extrasmall_device: 375px;
$black_color:#000000;
$white_color: #ffffff;
.strengthBar {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: 2px;
}

.point:last-of-type {
  margin: 0 !important;
}

.point {
  background: $white_color;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 1px;
  width: 47px;
}

.strengthText {
  font-weight: bold;
  margin-left: 10px;
}

.password-criteria {
  color: $black_color;
  font-size: small;
}
.strength {
  text-align: left;
  display: inline-flex;
}

@media (max-width: $extrasmall_device) {
  .point {
    width: 40px;
  }
}