$font_family: 'Nunito', sans-serif;
$template_color:#3b96b6;
$template_color2:#47a447;
$template_color3: #FF4444;
$white_color: #ffffff;
$black_color: #000000;
$paragraph_color: #818992;

body {
    font-family: $font_family;
    padding: 0;
    margin: 0;
}

.ptb-100 {
      padding-top: 0px;
      padding-bottom: 30px;
    }
    
    .bg-gray {
      background-color: #edf5ff;
    }
    
    p {
      font-size: 16px;
      color: $paragraph_color;
      line-height: 1.6;
    }
    
    p:last-child {
      margin-bottom: 0;
    }
    button {
        outline: 0 !important;
    }
    
    /* btn btn-light */
    .btn-success {
        color: $white_color;
        text-transform: none;
        &:hover, &:focus, &:active {
            color: $white_color;
            background: $template_color !important;
        }
        &.focus, &:focus {
            box-shadow: unset;
        }
        &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
            box-shadow: unset;
        }
        &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
            color: $white_color;
            background: $template_color !important;
        }
        &.disabled, &:disabled {
            color: $white_color;
            opacity: 1;
    
            &:hover, &:focus {
                background: $template_color2 !important;
            }
        }
    }
    /* btn btn-primary */
    .btn-primary {
        color: $white_color;
        background-color: $template_color !important;

        &:hover, &:focus, &:active {
            color: $white_color;
            background: $template_color2 !important;
        }
        &.focus, &:focus {
            box-shadow: unset;
        }
        &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
            box-shadow: unset;
        }
        &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
            color: $white_color;
            background: $template_color2;
        }
        &.disabled, &:disabled {
            color: $white_color;
            background-color: $template_color;
            border-color: $template_color;
            opacity: 1;
    
            &:hover, &:focus {
                background: $template_color2;
            }
        }
    }
    .btn {
        font: {
            weight: 400;
            size: 16px;
        }
        border: none;
        padding: 13px 31px;
        border-radius: 5px;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        transition: .9s;
    
        &::after, &::before {
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 0;
            transition: .4s;
            background: $template_color;
            z-index: -1;
            border-radius: 5px;
        }
        &::after {
            left: 0;
        }
        &::before {
            right: 0;
        }
    }
.single-services .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #edf5ff;
    border-radius: 50%;
    font-size: 25px;
    color: $template_color;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .single-services h3 {
    font-size: 23px;
    font-weight: 520;
    margin-top: 25px;
    margin-bottom: 15px;
    text-transform: none;
    font-family: $font_family;
  }
  
  .single-services:hover {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  }
  
  .single-services:hover .icon {
    background: $template_color;
    color: #ffffff;
  }
  .section-title {
    text-align: center;
    max-width: 720px;
    margin-bottom: 70px;
    margin-top: -6px;
    margin-left: auto;
    margin-right: auto;
  }
  .section-title h2 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 0;
  }
  
  .section-title p {
    max-width: 650px;
    margin: 0 auto;
  }
  
  .section-title .bar {
    height: 4px;
    width: 85px;
    background: $template_color;
    margin: 20px auto 25px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .section-title .bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: #ffffff;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: MOVE-BG;
            animation-name: MOVE-BG;
  }
  
  @-webkit-keyframes MOVE-BG {
    from {
      -webkit-transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(85px);
    }
  }
  
  @keyframes MOVE-BG {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(85px);
              transform: translateX(85px);
    }
  }
@media only screen and (min-width: 991px) {
    #header .header-nav-main nav > ul > li.dropdown-mega {
      position: relative;
    }
    #header .header-nav-main nav > ul > li.dropdown-mega > .dropdown-menu {
        width: 370px;
        left: 0;
        right: 15px;
    }
    .section-title {
      margin-bottom: 40px;
    }
    .section-title h2 {
      font-size: 27px;
    }
    .section-title .bar {
      height: 3px;
      margin: 18px auto 20px;
    }
    
  }
.btn-login {
    width:100%;
}
.featured-boxes .forgot-password {    
    display: inline-block;
    content: '';
    border-left: 1px solid #777;
}
@media only screen and (max-width: 440px) {
    .featured-boxes .forgot-password, .featured-boxes .user-register, .featured-boxes .click-here {
        text-align: left !important;
        border: none !important;
    }
}
@media only screen and (min-width: 441px) and (max-width: 575px) {
    .featured-boxes .forgot-password, .featured-boxes .user-register, .featured-boxes .click-here {
        text-align: left !important;
    }
}
  @media only screen and (max-width: 768px){
    .header-container {
        padding-left: 0px;
    }
    .header-column {
        padding: 0px;
    }
    .header-logo img {
        width: 90%;
        height: 90%;
        margin: 0px;
        padding: 0px;
    }
    .featured-box-primary {
        width: 100% !important;
    }
    .btn {
        font-size: 14px;
        padding: 14px 27px;
    }
    .services-area {
      padding-bottom: 20px;
    }
    .single-services {
      padding: 20px;
    }
    .single-services h3 {
      font-size: 20px;
    }
    .icofont-pay, .icofont-copy-invert, .icofont-wrench {
      line-height:80% !important;
      font-size: 30px !important;
    }
    .title {
      font-size:14px !important;
      line-height:40% !important;
    }
    .box {
      margin: 4px !important;
      padding: 4px !important;
    }
    .home-intro .container .row p {
        font-size:11px !important;
        line-height: 1.6 !important;
    }
    .feature-area {
        padding-bottom: 20px;
    }
    .featureTable {
        margin-bottom: 30px;
        .featureHeader {
            .title {
                font-size: 16px;
            }
        }
    }
    .feature-table {
        margin-bottom: 30px;

        .feature-header {
            .title {
                font-size: 20px;
            }
        }
    }
    .feature-table-box {
        margin-bottom: 30px;

        .title {
            font-size: 20px;
        }
    }
    div.version-number {
        float: left;
    }
  }
  div.version-number {
      float: right;
      margin-right: 0px;
      padding-right: 0px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-logo img {
        width: 95%;
        height: 95%;
    }
    .featured-box-primary {
        width: 100% !important;
    }
    .services-area {
      padding-bottom: 30px;
    }
    .single-services h3 {
      font-size: 21px;
    }
    .featureTable {
        margin-bottom: 30px;

        .feature-Value {
            font-size: 43px;
        }
    }
    .feature-area {
        padding-bottom: 50px;
    }
    .feature-table {
        margin-bottom: 30px;

        .feature-header{
            .title {
                font-size: 21px;
            }
        }
    }
    .feature-table-box {
        margin-bottom: 30px;

        .title {
            font-size: 21px;
        }
    }
  }
  #header {
      height:125px !important;
  }
  .img-responsive {
      display: block;
      max-width: 100%;
      height: auto;
      margin-top: -3px;
  }
    .single-services {
      margin-bottom: 30px;
      background: #ffffff;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 30px;
      -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.08);
              box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.08);
      border-radius: 5px;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .single-services > .row > i:last-child {
        top: 50%;
        color: $template_color;
        transition: .4s;
        font-size: 25px;
        &:hover {
            color: $template_color2;
        }
    }
    
  /*================================================
  Services CSS
  =================================================*/
  .services-area {
    padding-bottom: 20px !important;
    .row {
        a:hover{
            text-decoration: none !important;
            h3 { color: $template_color; font-weight: 600; }
        }
    }
  }
.services-area .row {
    margin-top: -6px;
    padding-top:20px;
}

.feature-area {
    position: relative;
    z-index: 1;
    .container {
        .row a:hover {
            text-decoration: none !important;
        }        
    }
}
.feature-area .row {
    padding-top: 10px;
}
.featureTable {
    text-align: center;
    background: $white_color;
    padding: 50px 0 30px;
    margin-top: 40px;
    border-radius: 5px;
    position: relative;
    transition: all 0.5s ease 0s;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);

    .feature-icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        line-height: 73px;
        background: $white_color;
        color: $template_color;
        position: absolute;
        top: -40px;
        left: 50%;
        box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
        font-size: 30px;
        transform: translateX(-50%);
        transition: all 0.5s ease 0s;
    }
    .featureHeader {
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background: $template_color2;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: -1;
            transition: all 0.5s ease 0s;
        }
        .title {
            width: 50%;
            background: $template_color2;
            margin: 15px auto 10px;
            padding: 10px 0;
            font: {
                size: 18px;
                weight: 400;
            }
            color: $white_color;
            text-transform: none;
            position: relative;
            z-index: 1;
            border-radius: 5px;
            transition: all 0.5s ease 0s;
        }
    }
    .feature-content {
        margin: {
            top: 30px;
            bottom: 35px;
        }         
        p {
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 14px;
            text-align:justify;
            text-justify: inter-word;
            letter-spacing: normal;
        }
        
    }
    &:hover {
        box-shadow: 0 10px 55px 5px rgba(137,173,255,.35);
        transform: translate(0,-10px);
        text-decoration: none;
        .feature-icon {
            background: $template_color;
            color: $white_color;
        }
        .featureHeader {
            &::after {
                background: $template_color;
            }
            .title {
                color: $white_color;
                background: $template_color;
            }
        }
    }
}
/* Feature Table Style Two */
.feature-table {
    text-align: center;
    padding: 30px 0;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
    position: relative;
    z-index: 1;
    background-color: $template_color;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);

    .feature-header {
        .title {
            color: $white_color;
            font: {
                size: 23px;
                weight: 400;
            }
            text-transform: none;
            margin-bottom: 30px;
        }
        
    }
    .feature-body {
        ul {
            margin: 30px 0;
            padding: 0;
            list-style-type: none;

            li {
                color: $white_color;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .feature-footer {
        .btn {
            &:hover {
                &::after, &::before {
                    background: $white_color;
                }
            }
        }
        .btn-primary {
            &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
                color: $template_color2;
                background: $white_color;
            }
            &:hover, &:focus {
                background: $white_color;
                color: $template_color2;
            }
        }
    }
    &:hover {
        transform: translateY(-7px);
    }
}
/* Feature Table Style Three */
.feature-table-box {
	padding-bottom: 30px;
	background: $white_color;
	text-align: center;
	z-index: 1;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 7px 5px 30px 0 rgba(72,73,121,0.15);
    transition: .4s;

    .featureTable-header {
        padding: 30px 15px 45px;
        background: $template_color;
        clip-path: polygon(50% 100%, 100% 60%, 100% 0, 0 0, 0 60%);
        position: relative;

        &::before {
            content: "";
            width: 400px;
            height: 400px;
            border-radius: 50%;
            position: absolute;
            right: -50%;
            top: -130%;
            background: repeating-radial-gradient(rgba(255,255,255,0.05), rgba(255,255,255,0.2) 20%);
            transition: .4s;
        }
    }
    .title {
        font: {
            size: 23px;
            weight: 700;
        }
        color: $white_color;
        text-transform: none;
        margin-bottom: 15px;
    }
    .feature-value {
        display: block;
        font: {
            size: 45px;
            weight: 700;
        }
        color: $white_color;
        margin-bottom: 30px;

        span {
            font-size: 15px;
            text-transform: uppercase;
            margin-left: -10px;
        }
        sup {
            font-size: 23px;
            top: -25px;
        }
    }
    .feature-content {
        padding: 30px 25px;
        margin-bottom: 0;
        list-style-type: none;

        li {
            color: #828893;
            text-transform: capitalize;
            border-bottom: 1px solid #eee;
            margin-bottom: 12px;
            padding-bottom: 12px;

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
    &:hover {
        transform: translateY(-10px);
    }
}
.timepicker {
    .timepicker__header {
        margin-top: 90px;
    }
}
/*================================================
Preloader CSS
=================================================*/
.preloader-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;

    .lds-hourglass {
        display: inline-block;
        width: 80px;
        height: 80px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        margin-top: -95px;

        &::after {
            content: " ";
            display: block;
            border-radius: 50%;
            width: 0;
            height: 0;
            margin: 6px;
            box-sizing: border-box;
            border: 36px solid $template_color;
            border-color: $template_color transparent $template_color2 transparent;
            animation: lds-hourglass 2.9s infinite;
        }
    }
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
#header .header-btn-user-nav, .header-btn-signin-nav, .header-btn-signout-nav {
	display: none;
    float: right;
    margin: 0px;
    padding: 0px;
}
.detailed-dialog-container .mat-dialog-container {
    margin-top: 90px;
  }
@media (max-width: 991px) {
    #header {
        margin-bottom:-31px;
    }    
    #header .header-btn-signin-nav {
        display: inline-block;
        width: 53px;
        height: 50px;
        text-align: center;
        background: #edf5ff;
        border-radius: 10%;
        font-size: 23px;
        color: $template_color;
    }
    #header .header-btn-user-nav {
        display: inline-block;
        width: 48px;
        height: 47px;
        text-align: center;
        line-height: 47px;
        border-radius: 50%;
        font-size: 21px;
        color: #edf5ff;
        background: $template_color;
        		
    }
    #header .header-btn-signout-nav {
        display: inline-block;
        width: 48px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        background: $template_color3;
        border-radius: 10%;
        font-size: 21px;
        color: #edf5ff;
        margin-right: 13px;
        margin-left: 0px;
        padding-left: 0px;
    }
    #header .header-nav-features {
        display: none;
    }
    #header .nav-item-anim-icon {
        display: inline-block !important;
        font-size: 14px;
    }
    .detailed-dialog-container .mat-dialog-container {
        margin: -24px !important;
        max-height: 400px;
        min-width: 350px;
        overflow: auto;
      }
}