<h3 mat-dialog-title>Employee Login</h3>
<mat-dialog-content>
    <h5 style="text-align: left">To log in to the <strong>Pearl Portal </strong>:</h5>
    <ol style="font-size:15px;" >
        <li >
            <p style="text-align: left">Enter your <strong>Registered Email</strong> used while registering the account.</p>
        </li>
        <li >
            <p style="text-align: left">Enter your Password in the <strong>Password</strong> field.</p>
        </li>
    </ol>                       
    <ul style="list-style-type:none;">
        <li>
            <p style="text-align: left">Upon successful login, user will be navigated to the Home page.</p>
        </li>
        <li>
            <p style="text-align: left">If you have not previously logged in, you will be prompted to change password screen.</p>
        </li>
        <li>
            <p style="text-align: left">If you have forgotten your password, please contact Avery Partners administrator to reset it.</p>
        </li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
<button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>