<section class="services-area ptb-100 bg-gray">
    <div class="container">
        <app-alert class="row mt-1 pt-1"></app-alert>
        <div fxLayout fxLayoutAlign="center center" class="filter-header">
            Admin Timesheets
        </div>
        <div class="mt-2 pt-2">
            <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedIndex">
                <mat-tab label="Timesheet Drafts">
                    <div class="single-services">
                        <div class="row">
                            <div class="icon pr-2 mr-2 mb-1 pb-1">
                                <i class="icofont-clock-time"></i>
                            </div>
                            <div><h3>Timesheet Drafts</h3></div>
                        </div>
                        <form [formGroup]="timesheetDraftsForm" autocomplete="off" novalidate>
                            <div class="row"> 
                                <mat-form-field appearance="fill">
                                    <mat-label>Week Ending</mat-label>
                                    <mat-select formControlName="draftWeekEnding" (selectionChange)="changeWeekEnding($event, 'draft')">
                                        <mat-option *ngFor="let weekending of weekEndings" [value]="weekending">{{weekending | date: 'MM/dd/yyyy'}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="allTimesheetDrafts.data.length > 0; then hasDraftBlock else noDraftBlock" class="timesheet_grid"></div>
                            <ng-template #noDraftBlock><div class="timesheet-container alert alert-danger text-center">No Draft Found</div></ng-template>
                            <ng-template #hasDraftBlock>
                                <!-- <mat-form-field>
                                    <input
                                    matInput
                                    (keyup)="applyFilterOne($event.target.value)"
                                    placeholder="Search"
                                    />
                                </mat-form-field> -->
                                <div class="timesheet-container mat-elevation-z8">
                                    <table mat-table [dataSource]="allTimesheetDrafts" matSort #table1>
                                        <ng-container matColumnDef="clientName" sticky>
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
                                            <td mat-cell *matCellDef="let draft">{{draft.clientName}}</td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="contractorName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contractor</th>
                                            <td mat-cell *matCellDef="let draft">{{draft.contractorName}}</td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="weeklyHours">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Hours</th>
                                            <td mat-cell *matCellDef="let draft">{{draft.weeklyHours | number:'1.2-2'}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="created">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
                                            <td mat-cell *matCellDef="let draft">{{draft.created | date: 'MM/dd/yyyy'}}</td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="modified">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Modified</th>
                                            <td mat-cell *matCellDef="let draft">{{draft.modified | date: 'MM/dd/yyyy'}}</td>
                                        </ng-container>
                                        
                                        <ng-container matColumnDef="star" stickyEnd>
                                            <th mat-header-cell *matHeaderCellDef></th>
                                            <td mat-cell *matCellDef="let draft">
                                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="action menu">
                                                    <mat-icon>more_vert</mat-icon>
                                                </button>
                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item (click)="navigateToDraftDetail(draft);">
                                                        <mat-icon>view_list</mat-icon>
                                                        <span>View</span>
                                                    </button>
                                                    <button mat-menu-item (click)="openWarningDialog(warningDialog, draft.timesheetId, 'draft', 'delete');">
                                                        <mat-icon>delete</mat-icon>
                                                        <span>Delete Draft</span>
                                                    </button>
                                                </mat-menu>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedDraftColumns; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedDraftColumns;"></tr>
                                    </table>
                                </div>                      
                            </ng-template>
                            <mat-paginator #TableOnePaginator="matPaginator" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons> 
                            </mat-paginator>
                        </form>
                    </div>
                </mat-tab>
                <mat-tab label="Submitted Timesheets">
                    <div class="single-services">
                        <div class="row">
                            <div class="icon pr-2 mr-2 mb-1 pb-1">
                                <i class="icofont-list"></i>
                            </div>
                            <div><h3>Submitted Timesheets</h3></div>
                        </div>
                        <form [formGroup]="timesheetsForm" autocomplete="off" novalidate>
                            <div class="row"> 
                                <mat-form-field appearance="fill">
                                    <mat-label>Week Ending</mat-label>
                                    <mat-select formControlName="timesheetWeekEnding" (selectionChange)="changeWeekEnding($event, 'timesheet')">
                                        <mat-option *ngFor="let weekending of weekEndings" [value]="weekending">{{weekending | date: 'MM/dd/yyyy'}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="allTimesheets.data.length > 0; then hasTimesheetBlock else noTimesheetBlock" class="timesheet_grid"></div>
                            <ng-template #noTimesheetBlock>
                                <div class="timesheet-container alert alert-danger text-center">No Timesheet Found</div>
                            </ng-template>
                            <ng-template #hasTimesheetBlock>
                                <div class="timesheet-container mat-elevation-z8">
                                    <table mat-table [dataSource]="allTimesheets" matSort #table2>
                                        <ng-container matColumnDef="clientName" sticky>
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
                                            <td mat-cell *matCellDef="let timesheet">{{timesheet.clientName}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="contractorName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contractor</th>
                                            <td mat-cell *matCellDef="let timesheet">{{timesheet.contractorName}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="weeklyHours">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Hours</th>
                                            <td mat-cell *matCellDef="let timesheet">{{timesheet.weeklyHours | number:'1.2-2'}}</td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="submitDate">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Submitted</th>
                                            <td mat-cell *matCellDef="let timesheet">{{timesheet.submitDate | date: 'MM/dd/yyyy'}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="timesheetStatus">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Approval Status</th>
                                            <td mat-cell *matCellDef="let timesheet">{{timesheet.timesheetStatus}}</td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="approverName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Approver</th>
                                            <td mat-cell *matCellDef="let timesheet">{{timesheet.approverName}}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="release">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Release?</th>
                                            <td mat-cell *matCellDef="let timesheet">{{timesheet.release}}</td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="comment">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
                                            <td mat-cell *matCellDef="let timesheet">{{timesheet.comment}}</td>
                                        </ng-container>
                                        <!-- Star Column -->
                                        <ng-container matColumnDef="star" stickyEnd>
                                            <th mat-header-cell *matHeaderCellDef></th>
                                            <td mat-cell *matCellDef="let timesheet">
                                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="action menu">
                                                    <mat-icon>more_vert</mat-icon>
                                                </button>
                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item (click)="navigateToTimesheetDetail(timesheet);">
                                                        <mat-icon>update</mat-icon>
                                                        <span>Release</span>
                                                    </button>
                                                    <button mat-menu-item (click)="viewOriginalTimesheet(timesheet);">
                                                        <mat-icon>bookmark</mat-icon>
                                                        <span>Unprocessed Timesheet</span>
                                                    </button>
                                                    <button mat-menu-item (click)="openWarningDialog(warningDialog, timesheet.timesheetId, 'timesheet', 'revert');">
                                                        <mat-icon>restore</mat-icon>
                                                        <span>Revert to Draft</span>
                                                    </button>
                                                    <button mat-menu-item (click)="openWarningDialog(warningDialog, timesheet.timesheetId, 'timesheet', 'delete');">
                                                        <mat-icon>delete</mat-icon>
                                                        <span>Delete Timesheet</span>
                                                    </button>
                                                </mat-menu>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>                         
                            </ng-template>
                            <mat-paginator #TableTwoPaginator="matPaginator" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons>
                            </mat-paginator>
                            <ng-template #warningDialog let-modal>
                                <div class="modal-header justify-content-center bg-warning">
                                    <h4 class="modal-title">Confirm</h4>
                                </div>
                                <div class="modal-body text-center">
                                    <h5>Are you sure you want to {{action}} the timesheet for contractor {{selectedContractor.contractorName}}?</h5>
                                </div>
                                <div class="modal-footer">
                                    <button mat-button mat-dialog-close class="btn">No</button>
                                    <button mat-button mat-dialog-close class="btn btn-primary"
                                    (click)="revertOrDeleteTimesheet()">Yes</button>
                                </div>
                            </ng-template>
                            <ng-template #timesheetDetailDialog let-modal>
                                <div class="modal-header justify-content-center bg-warning">
                                    <h4 class="modal-title">Timesheet Detail</h4>
                                </div>
                                <div class="modal-body text-center">
                                    <div class="unprocessedtimesheet-container" *ngIf="unprocessedTimesheet">
                                        <table class="table table-responsive table-light table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Day</th>
                                                    <th scope="col">Start Work</th>
                                                    <th scope="col">Lunch Out</th>
                                                    <th scope="col">Lunch In</th>
                                                    <th scope="col">End Work</th>
                                                    <th scope="col">Total Hours</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{unprocessedTimesheet.sundayDate | date: 'MM/dd/yyyy'}}</td>
                                                    <td>Sunday</td>
                                                    <td>{{unprocessedTimesheet.sundayStart}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.sundayLunchOut}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.sundayLunchIn}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.sundayEnd}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.sundayHours | number:'1.2-2'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{unprocessedTimesheet.mondayDate | date: 'MM/dd/yyyy'}}</td>
                                                    <td>Monday</td>
                                                    <td>{{unprocessedTimesheet.mondayStart}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.mondayLunchOut}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.mondayLunchIn}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.mondayEnd}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.mondayHours | number:'1.2-2'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{unprocessedTimesheet.tuesdayDate | date: 'MM/dd/yyyy'}}</td>
                                                    <td>Tuesday</td>
                                                    <td>{{unprocessedTimesheet.tuesdayStart}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.tuesdayLunchOut}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.tuesdayLunchIn}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.tuesdayEnd}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.tuesdayHours | number:'1.2-2'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{unprocessedTimesheet.wednesdayDate | date: 'MM/dd/yyyy'}}</td>
                                                    <td>Wednesday</td>
                                                    <td>{{unprocessedTimesheet.wednesdayStart}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.wednesdayLunchOut}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.wednesdayLunchIn}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.wednesdayEnd}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.wednesdayHours | number:'1.2-2'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{unprocessedTimesheet.thursdayDate | date: 'MM/dd/yyyy'}}</td>
                                                    <td>Thursday</td>
                                                    <td>{{unprocessedTimesheet.thursdayStart}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.thursdayLunchOut}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.thursdayLunchIn}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.thursdayEnd}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.thursdayHours | number:'1.2-2'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{unprocessedTimesheet.fridayDate | date: 'MM/dd/yyyy'}}</td>
                                                    <td>Friday</td>
                                                    <td>{{unprocessedTimesheet.fridayStart}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.fridayLunchOut}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.fridayLunchIn}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.fridayEnd}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.fridayHours | number:'1.2-2'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{unprocessedTimesheet.saturdayDate | date: 'MM/dd/yyyy'}}</td>
                                                    <td>Saturday</td>
                                                    <td>{{unprocessedTimesheet.saturdayStart}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.saturdayLunchOut}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.saturdayLunchIn}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.saturdayEnd}}
                                                    </td>
                                                    <td>{{unprocessedTimesheet.saturdayHours | number:'1.2-2'}}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6" class="text-right"><b>Weekly Hours:</b></td>
                                                    <td>{{unprocessedTimesheet.weeklyTotalHours | number:'1.2-2'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button mat-button mat-dialog-close class="btn">Close</button>
                                </div>
                            </ng-template>
                        </form>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>
