<div class="row">
    <div class="col-md-12 col-lg-12">
        <img class="img-responsive" src="./assets/img/hero_image.png" height="300px" width="100%" alt="">
    </div>
</div>
<section class="services-area ptb-100 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <a href="#" routerLink="/view-my-timesheets">
                    <div class="single-services">
                        <div class="row">
                            <div class="icon mr-2 pr-2 mb-1">
                                <i class="icofont-clock-time"></i>
                            </div>
                            <div><h3>My Timesheets</h3></div>
                        </div>
                        <div class="row">
                            <p>Easily review timesheet reports before payroll & billing</p>
                            <i class="icofont-bubble-right"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6">
                <a href="#" routerLink="/view-my-expenses">
                <div class="single-services">
                    <div class="row">
                        <div class="icon mr-2 pr-2 mb-1 pb-1">
                            <i class="icofont-label"></i>
                        </div>
                        <div><h3>My Expenses</h3></div>
                    </div>
                    <div class="row">
                        <p>Make it simple and fast to enter, approve and manage expenses, all within a single interface.</p>
                        <i class="icofont-bubble-right"></i>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="#" routerLink="/admin-timesheets-expenses">
                <div class="single-services">
                    <div class="row">
                        <div class="icon mr-2 pr-2 mb-1 pb-1">
                            <i class="fas fa-tasks"></i>
                        </div>
                        <div><h3>Time & Expense Admin</h3></div>
                    </div>
                    <div class="row">
                        <p>Automate the entry, tracking, billing and reporting of effort & time of employees.</p>
                        <i class="icofont-bubble-right"></i>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>