#footer{
    background: #0e0e0e;
    border-color: #0e0e0e;
    margin-top: 5px;
}

#footer h4{
    color: #fff;
}

.single-services {
    min-height: 220px;
    .row:nth-child(1) {
        i {
            display: inline-block;
            line-height: 0;
            margin-top: -16px !important;
            margin-right: -8px;
        }
    }
    .row:nth-child(2) {
        p {
            margin-bottom: -1px;
        }
        i {
            margin-bottom: -15px !important;
        }
    }
}

.featureTable {
    min-height: 350px;
}