<footer id="footer mt-none pt-none">
    <div class="container">
        <div class="row py-3 my-2">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4 mb-lg-0">
                    <h4 class="text-3 mb-3">About Us</h4>
                    <div id="tweet" class="twitter">
                        <p>Pearl timesheet portal is designed to give you fast, secure account access so you can easily submit your timesheets, accurately track work hours and expenses.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4 mb-md-0">
                    <div class="contact-details">
                        <h4 class="text-3 mb-3">Contact Us</h4>
                        <ul class="list list-icons list-icons-lg">
                            <li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i><p class="m-0">1805 Old Alabama Road,Suite 200, Roswell, GA 30076-2230</p></li>
                            <li class="mb-1"><i class="fab fa-whatsapp text-color-primary"></i><p class="m-0"><a href="tel:8001234567">1.888.966.0214</a></p></li>
                            <li class="mb-1"><i class="far fa-envelope text-color-primary"></i><p class="m-0"><a href="mailto:mail@example.com">mail@example.com</a></p></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 d-md-none d-lg-none">
                    <h4 class="text-3 mb-3">Follow Us</h4>
                    <ul class="footer-social-icons">
                        <li class="footer-social-icons-facebook mr-1"><a href="https://www.facebook.com/averypartners" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="footer-social-icons-twitter mr-1"><a href="https://twitter.com/averypartnersco" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="footer-social-icons-linkedin"><a href="https://www.linkedin.com/company/avery-partners/" target="_blank" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>

        </div>
        <div class="row pb-3">
                <div class="col-md-8 col-lg-8">
                    <span class="copyright">&copy; Copyright {{currentYear}} by Avery Partners</span>
                </div>
                <div class="col-md-4 col-lg-4">
                    <span class="version-number text-right">Version:&nbsp;1.1.0001</span>
                </div>
        </div>
    </div>    
</footer>