<section class="services-area ptb-100 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 mt-1 pt-1">
                <a href="#" routerLink="/release-timesheets">
                    <div class="single-services">
                        <div class="row">
                            <div class="icon mr-2 pr-2 mb-2 pb-2">
                                <i class="icofont-gears"></i>
                            </div>
                            <div><h3>Admin Timesheets</h3></div>
                        </div>
                        <div class="row">
                            <p>Click here to manage timesheets.</p>
                            <i class="icofont-bubble-right"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-md-6 mt-1 pt-1">
                <a href="#" routerLink="/release-expenses">
                <div class="single-services">
                    <div class="row">
                        <div class="icon mr-2 pr-2 mb-2 pb-2">
                            <i class="icofont-price"></i>
                        </div>
                        <div><h3>Admin Expenses</h3></div>
                    </div>
                    <div class="row">
                        <p>Click here to manage expenses.</p>
                        <i class="icofont-bubble-right"></i>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>
