<section class="services-area ptb-100 bg-gray">
    <div class="container">
        <div class="row mt-1 pt-1">
            <div class="col-md-12 col-lg-12 mt-3 pt-3">
                <app-alert></app-alert>
                <div fxLayout fxLayoutAlign="center center" class="filter-header" *ngIf="myExpenseDetails">
                    My Expense for {{myExpenseDetails.weekEnding | date : 'MM/dd/yyyy'}}
                </div>
                <div class="row" *ngIf="myExpenseDetails">
                    <div class="col-md-3">Name: {{myExpenseDetails.contractorName}}</div>
                    <div class="col-md-3">Client: {{myExpenseDetails.name}}</div>
                    <div class="col-md-6">Location: {{myExpenseDetails.locationName}}</div>
                </div>
                <form [formGroup]="expenseForm" autocomplete="off" novalidate (ngSubmit)="openWarningDialog(warningDialog);">
                    <div class="row">                        
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Week Ending</mat-label>
                                <input matInput [matDatepicker]="picker1" formControlName="weekEnding" [disabled]="true" readonly
                                 (dateChange)="addEvent('change', $event)">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                                <mat-error *ngIf="hasError('weekEnding')">{{getWeekEndingErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Prepaid Expense</mat-label>
                                <span matPrefix>$&nbsp;</span>
                                <input matInput type="number" [disabled]="!isRejected" formControlName="prePaidExpense" [value]="myExpenseDetails.prePaidExpense" (change)="setPrepaidExpense($event.target.value)">
                                <button mat-button *ngIf="myExpenseDetails.prePaidExpense" matSuffix mat-icon-button aria-label="Clear" (click)="resetPrepaidExpense()">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Project / Tasks</mat-label>
                                <textarea matInput formControlName="projectName"  [(ngModel)]="projectvalue"></textarea>
                                <button mat-button [hidden]="!isRejected" *ngIf="projectvalue" matSuffix mat-icon-button aria-label="Clear" (click)="projectvalue=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>                        
                    </div>
                    <div class="expense-container" *ngIf="myExpenseDetails">
                        <table class="table table-light table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Day</th>
                                    <th scope="col">Hotel</th>
                                    <th scope="col">Travel</th>
                                    <th scope="col">Marketing</th>
                                    <th scope="col">Mileage<br>(${{mileageRate}} / mile)</th>
                                    <th scope="col">Meals</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Other</th>
                                    <th scope="col">Total Expenses</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{myExpenseDetails.sundayDate | date: 'MM/dd/yyyy'}}</td>
                                    <td>Sunday</td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Hotel</mat-label>
                                            <span matPrefix>$</span>
                                            <input matInput type="number" formControlName="sundayHotel" [value]="myExpenseDetails.sundayHotel" (change)="setHotel($event, 'sun')">
                                            <button mat-button *ngIf="myExpenseDetails.sundayHotel" matSuffix mat-icon-button aria-label="Clear" (click)="resetHotel('sun')">
                                                <mat-icon>close</mat-icon>
                                            </button>                                            
                                        </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Travel</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="sundayTravel" [value]="myExpenseDetails.sundayTravel" (change)="setTravel($event, 'sun')">
                                        <button mat-button *ngIf="myExpenseDetails.sundayTravel" matSuffix mat-icon-button aria-label="Clear" (click)="resetTravel('sun')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Marketing</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="sundayMarketing" [value]="myExpenseDetails.sundayMarketing" (change)="setMarketing($event, 'sun')">
                                        <button mat-button *ngIf="myExpenseDetails.sundayMarketing" matSuffix mat-icon-button aria-label="Clear" (click)="resetMarketing('sun')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td>
                                        <table class="table-plain"><tbody><tr><td>
                                            <mat-form-field>
                                                <mat-label>Miles</mat-label>
                                                <input matInput type="number" formControlName="sundayMiles" [value]="myExpenseDetails.sundayMiles" (change)="setMileage($event, 'sun')">
                                                <button mat-button *ngIf="myExpenseDetails.sundayMiles" matSuffix mat-icon-button aria-label="Clear" (click)="resetMiles('sun')">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field></td>
                                        </tr>
                                        <tr><td>
                                            x {{mileageRate}} = $<b>{{myExpenseDetails.sundayMileage | number:'1.2-2'}}</b>
                                        </td></tr></tbody>
                                    </table></td>
                                    <td><mat-form-field>
                                        <mat-label>Meals</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="sundayMeals" [value]="myExpenseDetails.sundayMeals" (change)="setMeals($event, 'sun')">
                                        <button mat-button *ngIf="myExpenseDetails.sundayMeals" matSuffix mat-icon-button aria-label="Clear" (click)="resetMeals('sun')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Phone</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="sundayPhone" [value]="myExpenseDetails.sundayPhone" (change)="setPhone($event, 'sun')">
                                        <button mat-button *ngIf="myExpenseDetails.sundayPhone" matSuffix mat-icon-button aria-label="Clear" (click)="resetPhone('sun')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Other</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="sundayOther" [value]="myExpenseDetails.sundayOther" (change)="setOther($event, 'sun')">
                                        <button mat-button *ngIf="myExpenseDetails.sundayOther" matSuffix mat-icon-button aria-label="Clear" (click)="resetOther('sun')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><span matPrefix>$</span>{{myExpenseDetails.sundayExpenses | number:'1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td>{{myExpenseDetails.mondayDate | date: 'MM/dd/yyyy'}}</td>
                                    <td>Monday</td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Hotel</mat-label>
                                            <span matPrefix>$</span>
                                            <input matInput type="number" formControlName="mondayHotel" [value]="myExpenseDetails.mondayHotel" (change)="setHotel($event, 'mon')">
                                            <button mat-button *ngIf="myExpenseDetails.mondayHotel" matSuffix mat-icon-button aria-label="Clear" (click)="resetHotel('mon')">
                                                <mat-icon>close</mat-icon>
                                            </button>                                            
                                        </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Travel</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="mondayTravel" [value]="myExpenseDetails.mondayTravel" (change)="setTravel($event, 'mon')">
                                        <button mat-button *ngIf="myExpenseDetails.mondayTravel" matSuffix mat-icon-button aria-label="Clear" (click)="resetTravel('mon')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Marketing</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="mondayMarketing" [value]="myExpenseDetails.mondayMarketing" (change)="setMarketing($event, 'mon')">
                                        <button mat-button *ngIf="myExpenseDetails.mondayMarketing" matSuffix mat-icon-button aria-label="Clear" (click)="resetMarketing('mon')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><table class="table-plain"><tbody><tr><td>
                                        <mat-form-field>
                                            <mat-label>Miles</mat-label>
                                            <input matInput type="number" formControlName="mondayMiles" [value]="myExpenseDetails.mondayMiles" (change)="setMileage($event, 'mon')">
                                            <button mat-button *ngIf="myExpenseDetails.mondayMiles" matSuffix mat-icon-button aria-label="Clear" (click)="resetMiles('mon')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field></td></tr>
                                        <tr><td>x {{mileageRate}} = $<b>{{myExpenseDetails.mondayMileage | number:'1.2-2'}}</b></td></tr></tbody>
                                        </table>
                                    </td>
                                    <td><mat-form-field>
                                        <mat-label>Meals</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="mondayMeals" [value]="myExpenseDetails.mondayMeals" (change)="setMeals($event, 'mon')">
                                        <button mat-button *ngIf="myExpenseDetails.mondayMeals" matSuffix mat-icon-button aria-label="Clear" (click)="resetMeals('mon')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Phone</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="mondayPhone" [value]="myExpenseDetails.mondayPhone" (change)="setPhone($event, 'mon')">
                                        <button mat-button *ngIf="myExpenseDetails.mondayPhone" matSuffix mat-icon-button aria-label="Clear" (click)="resetPhone('mon')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Other</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="mondayOther" [value]="myExpenseDetails.mondayOther" (change)="setOther($event, 'mon')">
                                        <button mat-button *ngIf="myExpenseDetails.mondayOther" matSuffix mat-icon-button aria-label="Clear" (click)="resetOther('mon')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><span matPrefix>$</span>{{myExpenseDetails.mondayExpenses | number:'1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td>{{myExpenseDetails.tuesdayDate | date: 'MM/dd/yyyy'}}</td>
                                    <td>Tuesday</td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Hotel</mat-label>
                                            <span matPrefix>$</span>
                                            <input matInput type="number" formControlName="tuesdayHotel" [value]="myExpenseDetails.tuesdayHotel" (change)="setHotel($event, 'tues')">
                                            <button mat-button *ngIf="myExpenseDetails.tuesdayHotel" matSuffix mat-icon-button aria-label="Clear" (click)="resetHotel('tues')">
                                                <mat-icon>close</mat-icon>
                                            </button>                                            
                                        </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Travel</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="tuesdayTravel" [value]="myExpenseDetails.tuesdayTravel" (change)="setTravel($event, 'tues')">
                                        <button mat-button *ngIf="myExpenseDetails.tuesdayTravel" matSuffix mat-icon-button aria-label="Clear" (click)="resetTravel('tues')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Marketing</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="tuesdayMarketing" [value]="myExpenseDetails.tuesdayMarketing" (change)="setMarketing($event, 'tues')">
                                        <button mat-button *ngIf="myExpenseDetails.tuesdayMarketing" matSuffix mat-icon-button aria-label="Clear" (click)="resetMarketing('tues')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><table class="table-plain"><tbody><tr><td><mat-form-field>
                                            <mat-label>Miles</mat-label>
                                            <input matInput type="number" formControlName="tuesdayMiles" [value]="myExpenseDetails.tuesdayMiles" (change)="setMileage($event, 'tues')">
                                            <button mat-button *ngIf="myExpenseDetails.tuesdayMiles" matSuffix mat-icon-button aria-label="Clear" (click)="resetMiles('tues')">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field></td></tr><tr><td>
                                            x {{mileageRate}} = $<b>{{myExpenseDetails.tuesdayMileage | number:'1.2-2'}}</b>
                                        </td></tr>
                                        </tbody></table>
                                    </td>
                                    <td><mat-form-field>
                                        <mat-label>Meals</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="tuesdayMeals" [value]="myExpenseDetails.tuesdayMeals" (change)="setMeals($event, 'tues')">
                                        <button mat-button *ngIf="myExpenseDetails.tuesdayMeals" matSuffix mat-icon-button aria-label="Clear" (click)="resetMeals('tues')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Phone</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="tuesdayPhone" [value]="myExpenseDetails.tuesdayPhone" (change)="setPhone($event, 'tues')">
                                        <button mat-button *ngIf="myExpenseDetails.tuesdayPhone" matSuffix mat-icon-button aria-label="Clear" (click)="resetPhone('tues')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Other</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="tuesdayOther" [value]="myExpenseDetails.tuesdayOther" (change)="setOther($event, 'tues')">
                                        <button mat-button *ngIf="myExpenseDetails.tuesdayOther" matSuffix mat-icon-button aria-label="Clear" (click)="resetOther('tues')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><span matPrefix>$</span>{{myExpenseDetails.tuesdayExpenses | number:'1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td>{{myExpenseDetails.wednesdayDate | date: 'MM/dd/yyyy'}}</td>
                                    <td>Wednesday</td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Hotel</mat-label>
                                            <span matPrefix>$</span>
                                            <input matInput type="number" formControlName="wednesdayHotel" [value]="myExpenseDetails.wednesdayHotel" (change)="setHotel($event, 'wed')">
                                            <button mat-button *ngIf="myExpenseDetails.wednesdayHotel" matSuffix mat-icon-button aria-label="Clear" (click)="resetHotel('wed')">
                                                <mat-icon>close</mat-icon>
                                            </button>                                            
                                        </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Travel</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="wednesdayTravel" [value]="myExpenseDetails.wednesdayTravel" (change)="setTravel($event, 'wed')">
                                        <button mat-button *ngIf="myExpenseDetails.wednesdayTravel" matSuffix mat-icon-button aria-label="Clear" (click)="resetTravel('wed')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Marketing</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="wednesdayMarketing" [value]="myExpenseDetails.wednesdayMarketing" (change)="setMarketing($event, 'wed')">
                                        <button mat-button *ngIf="myExpenseDetails.wednesdayMarketing" matSuffix mat-icon-button aria-label="Clear" (click)="resetMarketing('wed')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><table class="table-plain"><tbody><tr><td><mat-form-field>
                                        <mat-label>Miles</mat-label>
                                        <input matInput type="number" formControlName="wednesdayMiles" [value]="myExpenseDetails.wednesdayMiles" (change)="setMileage($event, 'wed')">
                                        <button mat-button *ngIf="myExpenseDetails.wednesdayMiles" matSuffix mat-icon-button aria-label="Clear" (click)="resetMiles('wed')">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field></td></tr><tr><td>
                                        x {{mileageRate}} = $<b>{{myExpenseDetails.wednesdayMileage | number:'1.2-2'}}</b>
                                    </td></tr>
                                    </tbody></table></td>
                                    <td><mat-form-field>
                                        <mat-label>Meals</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="wednesdayMeals" [value]="myExpenseDetails.wednesdayMeals" (change)="setMeals($event, 'wed')">
                                        <button mat-button *ngIf="myExpenseDetails.wednesdayMeals" matSuffix mat-icon-button aria-label="Clear" (click)="resetMeals('wed')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Phone</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="wednesdayPhone" [value]="myExpenseDetails.wednesdayPhone" (change)="setPhone($event, 'wed')">
                                        <button mat-button *ngIf="myExpenseDetails.wednesdayPhone" matSuffix mat-icon-button aria-label="Clear" (click)="resetPhone('wed')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Other</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="wednesdayOther" [value]="myExpenseDetails.wednesdayOther" (change)="setOther($event, 'wed')">
                                        <button mat-button *ngIf="myExpenseDetails.wednesdayOther" matSuffix mat-icon-button aria-label="Clear" (click)="resetOther('wed')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><span matPrefix>$</span>{{myExpenseDetails.wednesdayExpenses | number:'1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td>{{myExpenseDetails.thursdayDate | date: 'MM/dd/yyyy'}}</td>
                                    <td>Thursday</td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Hotel</mat-label>
                                            <span matPrefix>$</span>
                                            <input matInput type="number" formControlName="thursdayHotel" [value]="myExpenseDetails.thursdayHotel" (change)="setHotel($event, 'thur')">
                                            <button mat-button *ngIf="myExpenseDetails.thursdayHotel" matSuffix mat-icon-button aria-label="Clear" (click)="resetHotel('thur')">
                                                <mat-icon>close</mat-icon>
                                            </button>                                            
                                        </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Travel</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="thursdayTravel" [value]="myExpenseDetails.thursdayTravel" (change)="setTravel($event, 'thur')">
                                        <button mat-button *ngIf="myExpenseDetails.thursdayTravel" matSuffix mat-icon-button aria-label="Clear" (click)="resetTravel('thur')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Marketing</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="thursdayMarketing" [value]="myExpenseDetails.thursdayMarketing" (change)="setMarketing($event, 'thur')">
                                        <button mat-button *ngIf="myExpenseDetails.thursdayMarketing" matSuffix mat-icon-button aria-label="Clear" (click)="resetMarketing('thur')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><table class="table-plain"><tbody><tr><td><mat-form-field>
                                        <mat-label>Miles</mat-label>
                                        <input matInput type="number" formControlName="thursdayMiles" [value]="myExpenseDetails.thursdayMiles" (change)="setMileage($event, 'thur')">
                                        <button mat-button *ngIf="myExpenseDetails.thursdayMiles" matSuffix mat-icon-button aria-label="Clear" (click)="resetMiles('thur')">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field></td></tr><tr><td>
                                        x {{mileageRate}} = $<b>{{myExpenseDetails.thursdayMileage | number:'1.2-2'}}</b>
                                    </td></tr>
                                    </tbody></table></td>
                                    <td><mat-form-field>
                                        <mat-label>Meals</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="thursdayMeals" [value]="myExpenseDetails.thursdayMeals" (change)="setMeals($event, 'thur')">
                                        <button mat-button *ngIf="myExpenseDetails.thursdayMeals" matSuffix mat-icon-button aria-label="Clear" (click)="resetMeals('thur')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Phone</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="thursdayPhone" [value]="myExpenseDetails.thursdayPhone" (change)="setPhone($event, 'thur')">
                                        <button mat-button *ngIf="myExpenseDetails.thursdayPhone" matSuffix mat-icon-button aria-label="Clear" (click)="resetPhone('thur')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Other</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="thursdayOther" [value]="myExpenseDetails.thursdayOther" (change)="setOther($event, 'thur')">
                                        <button mat-button *ngIf="myExpenseDetails.thursdayOther" matSuffix mat-icon-button aria-label="Clear" (click)="resetOther('thur')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><span matPrefix>$</span>{{myExpenseDetails.thursdayExpenses | number:'1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td>{{myExpenseDetails.fridayDate | date: 'MM/dd/yyyy'}}</td>
                                    <td>Friday</td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Hotel</mat-label>
                                            <span matPrefix>$</span>
                                            <input matInput type="number" formControlName="fridayHotel" [value]="myExpenseDetails.fridayHotel" (change)="setHotel($event, 'fri')">
                                            <button mat-button *ngIf="myExpenseDetails.fridayHotel" matSuffix mat-icon-button aria-label="Clear" (click)="resetHotel('fri')">
                                                <mat-icon>close</mat-icon>
                                            </button>                                            
                                        </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Travel</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="fridayTravel" [value]="myExpenseDetails.fridayTravel" (change)="setTravel($event, 'fri')">
                                        <button mat-button *ngIf="myExpenseDetails.fridayTravel" matSuffix mat-icon-button aria-label="Clear" (click)="resetTravel('fri')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Marketing</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="fridayMarketing" [value]="myExpenseDetails.fridayMarketing" (change)="setMarketing($event, 'fri')">
                                        <button mat-button *ngIf="myExpenseDetails.fridayMarketing" matSuffix mat-icon-button aria-label="Clear" (click)="resetMarketing('fri')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><table class="table-plain"><tbody><tr><td><mat-form-field>
                                        <mat-label>Miles</mat-label>
                                        <input matInput type="number" formControlName="fridayMiles" [value]="myExpenseDetails.fridayMiles" (change)="setMileage($event, 'fri')">
                                        <button mat-button *ngIf="myExpenseDetails.fridayMiles" matSuffix mat-icon-button aria-label="Clear" (click)="resetMiles('fri')">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field></td></tr><tr><td>
                                        x {{mileageRate}} = $<b>{{myExpenseDetails.fridayMileage | number:'1.2-2'}}</b>
                                    </td></tr>
                                    </tbody></table></td>
                                    <td><mat-form-field>
                                        <mat-label>Meals</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="fridayMeals" [value]="myExpenseDetails.fridayMeals" (change)="setMeals($event, 'fri')">
                                        <button mat-button *ngIf="myExpenseDetails.fridayMeals" matSuffix mat-icon-button aria-label="Clear" (click)="resetMeals('fri')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Phone</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="fridayPhone" [value]="myExpenseDetails.fridayPhone" (change)="setPhone($event, 'fri')">
                                        <button mat-button *ngIf="myExpenseDetails.fridayPhone" matSuffix mat-icon-button aria-label="Clear" (click)="resetPhone('fri')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Other</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="fridayOther" [value]="myExpenseDetails.fridayOther" (change)="setOther($event, 'fri')">
                                        <button mat-button *ngIf="myExpenseDetails.fridayOther" matSuffix mat-icon-button aria-label="Clear" (click)="resetOther('fri')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><span matPrefix>$</span>{{myExpenseDetails.fridayExpenses | number:'1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td>{{myExpenseDetails.saturdayDate | date: 'MM/dd/yyyy'}}</td>
                                    <td>Saturday</td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Hotel</mat-label>
                                            <span matPrefix>$</span>
                                            <input matInput type="number" formControlName="saturdayHotel" [value]="myExpenseDetails.saturdayHotel" (change)="setHotel($event, 'sat')">
                                            <button mat-button *ngIf="myExpenseDetails.saturdayHotel" matSuffix mat-icon-button aria-label="Clear" (click)="resetHotel('sat')">
                                                <mat-icon>close</mat-icon>
                                            </button>                                            
                                        </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Travel</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="saturdayTravel" [value]="myExpenseDetails.saturdayTravel" (change)="setTravel($event, 'sat')">
                                        <button mat-button *ngIf="myExpenseDetails.saturdayTravel" matSuffix mat-icon-button aria-label="Clear" (click)="resetTravel('sat')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Marketing</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="saturdayMarketing" [value]="myExpenseDetails.saturdayMarketing" (change)="setMarketing($event, 'sat')">
                                        <button mat-button *ngIf="myExpenseDetails.saturdayMarketing" matSuffix mat-icon-button aria-label="Clear" (click)="resetMarketing('sat')">
                                            <mat-icon>close</mat-icon>
                                        </button>           
                                    </mat-form-field></td>
                                    <td><table class="table-plain"><tbody><tr><td><mat-form-field>
                                        <mat-label>Miles</mat-label>
                                        <input matInput type="number" formControlName="saturdayMiles" [value]="myExpenseDetails.saturdayMiles" (change)="setMileage($event, 'sat')">
                                        <button mat-button *ngIf="myExpenseDetails.saturdayMiles" matSuffix mat-icon-button aria-label="Clear" (click)="resetMiles('sat')">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field></td></tr><tr><td>
                                        x {{mileageRate}} = $<b>{{myExpenseDetails.saturdayMileage | number:'1.2-2'}}</b>
                                    </td></tr>
                                    </tbody></table></td>
                                    <td><mat-form-field>
                                        <mat-label>Meals</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="saturdayMeals" [value]="myExpenseDetails.saturdayMeals" (change)="setMeals($event, 'sat')">
                                        <button mat-button *ngIf="myExpenseDetails.saturdayMeals" matSuffix mat-icon-button aria-label="Clear" (click)="resetMeals('sat')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Phone</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="saturdayPhone" [value]="myExpenseDetails.saturdayPhone" (change)="setPhone($event, 'sat')">
                                        <button mat-button *ngIf="myExpenseDetails.saturdayPhone" matSuffix mat-icon-button aria-label="Clear" (click)="resetPhone('sat')">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field></td>
                                    <td><mat-form-field>
                                        <mat-label>Other</mat-label>
                                        <span matPrefix>$</span>
                                        <input matInput type="number" formControlName="saturdayOther" [value]="myExpenseDetails.saturdayOther" (change)="setOther($event, 'sat')">
                                        <button mat-button *ngIf="myExpenseDetails.saturdayOther" matSuffix mat-icon-button aria-label="Clear" (click)="resetOther('sat')">
                                            <mat-icon>close</mat-icon>
                                        </button>                                        
                                    </mat-form-field></td>
                                    <td><span matPrefix>$</span>{{myExpenseDetails.saturdayExpenses | number:'1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td colspan="9" class="text-right"><b>Weekly Expenses:</b></td>
                                    <td>{{myExpenseDetails.weeklyTotalExpense | currency}}
                                        <mat-error *ngIf="hasError('weeklyTotalExpense')">{{getWeeklyExpenseErrorMessage()}}</mat-error></td>
                                </tr>
                                <tr>
                                    <td colspan="9" class="text-right"><b>Less Advance:</b></td>
                                    <td>{{myExpenseDetails.prePaidExpense | currency}}</td>
                                </tr>
                                <tr>
                                    <td colspan="9" class="text-right"><b>Amount to Reimburse (Return):</b></td>
                                    <td>{{(myExpenseDetails.weeklyTotalExpense-myExpenseDetails.prePaidExpense) | currency}}</td>
                                </tr>                                
                            </tbody>
                        </table>
                        <mat-card *ngIf="myExpenseDetails.expenseAttachments">
                            <mat-card-header>
                              <mat-card-title>Supported Documents</mat-card-title>
                            </mat-card-header>
                            <mat-list dense>
                                <mat-list-item *ngFor="let file of myExpenseDetails.expenseAttachments">
                                    <mat-icon mat-list-icon>attach_file</mat-icon>
                                    <div mat-line><a href={{file.fileNameWithPath}} target="_blank">{{file.fileName}}</a></div>
                                    <div mat-line> {{file.created | date: 'MM/dd/yyyy, h:mm a'}} </div>
                                </mat-list-item>
                            </mat-list>
                        </mat-card>
                        <div class="row">
                            <div class="col" style="background-color:transparent;">
                                <file-upload class="mb-2 pb-2" formControlName="files"></file-upload>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="releaseExpense">
                        <div class="col">
                            Expense Link: <h5>{{myExpenseDetails.expenseLink}}</h5>
                        </div>
                    </div>
                    <div class="row" *ngIf="releaseExpense">
                        <div class="col">
                            Approval Status: <h5>{{myExpenseDetails.expenseStatus}}<span *ngIf="myExpenseDetails.expenseStatus!='Pending'"> by {{myExpenseDetails.approverName}} on {{myExpenseDetails.approveTime | date: 'MM/dd/yyyy h:mm a'}}</span></h5>
                        </div>
                    </div>
                    <div class="row mb-2 pb-2" *ngIf="releaseExpense">
                        <div class="col">
                            <mat-slide-toggle formControlName="isReleased">Human Resource Release: {{isReleased}}</mat-slide-toggle>
                        </div>
                    </div>
                    <div>
                        <button mat-raised-button [hidden]="!isRejected && !releaseExpense" color="primary" [disabled]="!expenseForm.valid || (releaseExpense && !eligibleToRelease)">Submit Expense</button>
                        <a mat-raised-button routerLink="" (click)="navigateToPreviousPage()" class="btn btn-link">Back</a>
                    </div>
                    <ng-template #warningDialog let-modal>
                        <div class="modal-header justify-content-center bg-warning">
                            <h4 class="modal-title">Confirm</h4>
                        </div>
                        <div class="modal-body text-center">
                            <h5>Are you sure you want to <span *ngIf="!releaseExpense;else releasecontent">submit your</span>
                                <ng-template #releasecontent>release the</ng-template> expense for weekending {{myExpenseDetails.weekEnding | date : 'MM/dd/yyyy'}}?</h5>
                        </div>
                        <div class="modal-footer">
                            <button mat-button mat-dialog-close class="btn">No</button>
                            <button mat-button mat-dialog-close class="btn btn-primary"
                            (click)="submitExpense()">Yes</button>
                        </div>
                    </ng-template>
                </form>
            </div>
        </div>
    </div>
</section>
