<div class="row">
    <div class="container col-sm-10 col-xs-12 col-md-9 col-lg-9">
        <div class="featured-boxes featured-boxes-style-8">
            <div class="featured-box featured-box-primary featured-box-text-left" style="width: 90%;">
                <div class="box-content">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        You Do Not Have Sufficient Rights To Perform This Action
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
